version: "2"

services:
  logwriter:
    build: .
    volumes:
      - './tmp:/tmp'
    command: "yarn start:logs-debug:docker"
  logmon:
    build: .
    depends_on:
      - logwriter
    volumes:
      - './tmp:/tmp'
